// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-body{
	width:50%;
	margin:0 auto;
}
.edl{
	color:gray;
}
.eds{
	margin-top:10px;
}