// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-body{
	width:40%;
	margin:0 auto;
}

.tpli{
	line-height:10px;
	color:gray;
}
.tp{
	color:gray;
}
.copy{
	text-align:right;
}
.tl{
	color:gray;
}